<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_DATVEXEConnectionString"
            connectionString="Data Source=KENTCFS;Initial Catalog=QL_DATVEXE;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>