<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_DATVEXEConnectionString"
            connectionString="Data Source=KENTCFS;Initial Catalog=QL_DATVEXE;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="BLL_DAL.Properties.Settings.QL_DATVEXEConnectionString1"
            connectionString="Data Source=KENTCFS;Initial Catalog=QL_DATVEXE;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>